streamlit==1.37.0
PyPDF2==3.0.1
python-dotenv==1.0.1

openai==1.40.0

# LangChain compatible
langchain==1.0.8
langchain-community==0.0.32
langchain-openai==0.1.6
langchain-text-splitters==0.0.2

chromadb==0.5.3
tiktoken==0.7.0
