streamlit==1.37.0
pymupdf==1.24.9
python-dotenv==1.0.1

openai==1.40.0

langchain==1.0.8
langchain-community==0.3.9
langchain-openai==0.1.7
langchain-text-splitters==0.0.3

chromadb==0.5.3
tiktoken==0.7.0
